#####################################################################
#   Fan Control
#####################################################################

[heater_fan hotend_fan]
##	Hotend Fan - FAN0 Connector
pin: PA8
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
fan_speed: 0.8

[fan]
##	Print Cooling Fan - FAN1 Connector
pin: PE5
kick_start_time: 0.5
#cycle_time: 0.4
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
off_below: 0.10

[heater_fan controller_fan]
##	Controller fan - E1 OUT
pin: PB10
kick_start_time: 0.5
heater: heater_bed
heater_temp: 45.0
max_power: 1.0
fan_speed: 0.5
shutdown_speed: 0.0

[fan_generic exhaust_fan]
##  Exhaust fan - Z board, HE0 Connector
pin: PB11
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0

#Nevermore
[fan_generic nevermore_fan]
pin: PD12
max_power: 1.0
kick_start_time: 0.25

[delayed_gcode NEVERMORE_STOP_DELAYED]
gcode:
  SET_FAN_SPEED FAN=nevermore_fan SPEED=0.0